#titulo{
    display: inline-block;
    margin-top: 5rem;
    color:white;
    width: 80%;
    margin-left: 10%;
}

h2{
    font-size: 3rem;
}

#main{
    display: inline-block;
    margin-top: 3rem;
    margin-left: calc(50% - 600px);
    padding: 1rem 3rem;
    background: white;
    overflow: hidden;
    max-width: 1200px;
    border-radius: 1rem;
}

@media(max-width:1200px){
    #main{
        width: 100%;
        max-width: none;
        border-radius: 0;
        margin-left: 0;
        padding: 1rem 1.5rem;
    }

    p{
        width: 80%;
        margin: 4% 10%;
    }
}

#main img{
    width: 70%;
    display: inline-block;
    margin: 4% 15%;
    border-radius: 1rem;
}

#main #imagen-main{
    width: calc(100% + 6rem);
    margin: -1rem -3rem 1rem;
    border-radius: 0;
}

#main p{
    width: 70%;
    margin: 0;
    padding: 0;
    margin: 4% 15%;
}

#main aside{
    float: right;
    width: 30%;
    border-bottom: 3px solid orange;
    font-weight: 100;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.resumen{
    width: 100%;
    margin: 0;
    color: white;
    background-color: rgb(27, 27, 27);
    padding: 0.5rem 2rem;
    border-radius: 0;
}


.nota{
    display: block;
    border-radius: 100%;
    background: red;
    color: white;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

#box-pos-neg{
    display: flex;
}

/* Puntos positivos y negativos */
.pos-neg{
    /*width: 80%;*/
    text-decoration: none;
    display: inline-block;
    margin-right: 5%;
}

.pos-neg li{
    list-style-type: none;
    margin-bottom: 0.5rem;
}

.pos-neg ul{
    margin-left: 0;
    padding-left: 0;
}

#box-conclusion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0;
}

#box-conclusion p{
    width: 90%;
    margin: 0 1rem 0 0;
    padding: 0;
}
