#titulo{
    display: inline-block;
    margin-top: 5rem;
    color:white;
    width: 80%;
    margin-left: 10%;
}

h2{
    font-size: 3rem;
}

article{
    display: inline-block;
    margin-top: 3rem;
    margin-left: calc(50% - 600px);
    padding: 1rem 3rem;
    background: white;
    overflow: hidden;
    max-width: 1200px;
    border-radius: 1rem;
}

@media(max-width:1200px){
    article{
        width: 100%;
        max-width: none;
        border-radius: 0;
        margin-left: 0;
        padding: 1rem 0rem;
    }

    p{
        width: 80%;
        margin: 4% 10%;
    }
}

article img{
    width: 70%;
    display: inline-block;
    margin: 4% 15%;
    border-radius: 1rem;
}

article #imagen-main{
    width: calc(100% + 6rem);
    margin: -1rem -3rem 1rem;
    border-radius: 0;
}

article p{
    width: 70%;
    margin: 0;
    padding: 0;
    margin: 4% 15%;
}

article aside{
    float: right;
    width: 30%;
    border-bottom: 3px solid orange;
    font-weight: 100;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.resumen{
    width: 100%;
    margin: 1%;
    background-color: white;
    padding: 0.5rem 1rem;
}

.resumen p{
    width: 100%;
}

.nota{
    border-radius: 100%;
    background: red;
    color: white;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    /*display: inline-block; */
    font-weight: bold;
    font-size: 2rem;
    margin-top: 3%;
    float: right;
}