@keyframes slideshow {
  0%   	{ transform:translateX(0.5%); 			}
  33% 	{ transform:translateX(-100%); 	}
  66% 	{ transform:translateX(-200%);	}
}

.caja-carrusel .carrusel{
  animation: slideshow 15s infinite;
}

/* .caja-carrusel:hover .carrusel{
  animation-play-state: paused;
}

.caja-carrusel .carrusel .img-carrusel:hover{
  z-index: top;

} */