*{
    box-sizing: border-box;
}

body{
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    font-size:50px;
    text-align: center;
}

.feeds{
    display: inline-block;
    width: 45vw;
    margin-right: 3.3333%;
    border: 3px solid black;
    background-color: lemonchiffon;
    padding: 1%;
}

a{
    display: inline-block;
    vertical-align: middle;
    margin: 1rem 2rem;
}

a.logo{
    width: 30%;
}

a.logo img{
    width: 100%;
}

.feeds a.validar{
    display: inline-block;
}