#main {
    margin-top: 5rem;
    overflow: hidden;
}

#cabecera #imagen-main {
    width: 60%;
    margin: -1rem 0 ;
    border-radius: 0;
    display: block;
    flex-shrink: 0;
}

#cabecera{
    display: flex;
    width: calc(100% + 3rem);
    justify-content: space-between;
    margin: -1rem -3rem 0 0;
    overflow: hidden;
}

@media only screen and (max-width:1250px) {
    #main {
        margin-top: 3rem;
    }
}

@media only screen and (max-width:700px){
    #main #cabecera{
        flex-wrap: wrap;
        /* margin-left: -5vw; */
        /* width: 100vw; */
        width: 100%;
    }

    #cabecera #imagen-main{
        width: 100%;
        order: -1;
    }

    #cabecera #datos{
        /* margin:1% 5%; */
    }
}

#cabecera .categoria{
    font-weight: bold;
}

#notas{
    display: flex;
    justify-content: space-between;
}

.nota a::first-letter{
    font-size: 1.8rem;
}

.nota{
    display: block;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    text-align: center;
    line-height: 4rem;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: .5rem;
}

.nota a{
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
}

#nav-ficha {
    display: flex;
    width: calc(100% + 6rem);
    margin: 0 -3rem 1rem;
    height: 2rem;
}

@media only screen and (max-width:1250px) {
    #nav-ficha {
        margin: 0 -5vw;
        width: 100vw;
    }
    #cabecera{
        width: 95vw;
        margin: -1rem -5vw 0 0;
    }
}

.boton-tab {
    width: 80%;
    text-align: center;
    background: rgb(27, 27, 27);
    color: white;
    height: 100%;
    line-height: 2rem;
    display: block;
}

.boton-tab:hover {
    cursor: pointer;
    color: orange;
}

.caja-carrusel {
    width: 90%;
    max-width: 800px;
    height: 450px;
    overflow: hidden;
    margin-left: max(calc(calc(100% - 800px)/2), 5%);
}

.caja-carrusel .carrusel{
    margin: 0;
    padding: 0;
    animation: slideshow 15s infinite;
    display: flex;
    flex-wrap: nowrap;
}

.caja-carrusel .img-carr {
    width: 100%;
    display: block;
    flex-shrink: 0;
}

.boton-carr {
    display: flex;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-color: #333;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

/* .boton-prev {
    top: 45%;
    left: 2%;
}

.boton-next {
    top: 45%;
    right: 2%;
} */

.azul{
    background-color: skyblue;
    color:rgb(27, 27, 27);
}

.verde{
    background-color: green;
    color: #fff;
}