#main{
    margin-top: 5rem;
}

#main #imagen-main{
    width: calc(100% + 6rem);
    margin: -1rem -3rem 0;
    border-radius: 0;
}

@media (max-width:1250px) {
    #main{
        margin-top: 3rem;
    }
}

h1{
    position: absolute;
    bottom: 3rem;
    margin: 0;
    padding: 0;
}

#nav-ficha{
    display: flex;
    width: calc(100% + 3rem);
    margin: 0 -1.5rem;
}

.boton-tab{
    width: 80%;
    text-align: center;
    background: rgb(27,27,27);
    color: white;

}

.boton-tab:hover{
    cursor: pointer;
    color: orange;
}

.tab{
    
}