@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    background-color: rgb(27,27,27);
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center; 
    position: absolute;
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100%;
    line-height:10vh;
    background: black;
}

/*section{
    background-color: white;
    color:black;
}*/