@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    background-color: rgb(27,27,27);
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center; 
    position: absolute;
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100%;
    line-height:10vh;
    background: black;
}

#main{
    display: inline-block;
    margin-top: 3rem;
    margin-left: calc(50% - 600px);
    padding: 1rem 3rem;
    background: white;
    overflow: hidden;
    max-width: 1200px;
    border-radius: 1rem;
    width: 100%;
}

@media(max-width:1250px){
    #main{
        width: 100%;
        max-width: none;
        border-radius: 0;
        margin-left: 0;
        padding: 1rem 1.5rem;
    }

    p{
        width: 80%;
        margin: 4% 10%;
    }
}

/*section{
    background-color: white;
    color:black;
}*/