html{
    scroll-behavior: smooth;
}

#titulo{
    display: inline-block;
    margin-top: 5rem;
    color:white;
    width: 80%;
    margin-left: 10%;
}

h2{
    font-size: 3rem;
}

#indice ul{
    list-style-type: none;

}

#indice ul li{
    font-weight: thin;
    display: block;
    width: 100%;	
}

#indice ul li .indent{
    padding-left: 3rem;
}

#indice ul li a{
    text-decoration: none;
    width: 100%;
    display: block;
}