html{
    scroll-behavior: smooth;
}

#titulo{
    display: inline-block;
    margin-top: 5rem;
    color:white;
    width: 80%;
    margin-left: 10%;
}

h2{
    font-size: 3rem;
}

#indice{
    border: 2px gray solid;
    width: 50%;	
    border-radius: .5rem;
}

#indice h4{
    margin: 1rem 1rem;
}

#indice ul{
    list-style-type: none;
    padding: 0 1rem;
}

#indice ul li{
    font-weight: thin;
    display: block;
}

#indice ul li .indent{
    padding-left: 3rem;
}

#indice ul li a{
    text-decoration: none;
    width: 100%;
    display: block;
    color: grey;
    padding-left: 0.5rem;
}

#indice ul li a:hover{
    color: black;
    background: orange;
}