:root{
    --ancho-menu: 30rem;
}

header{
    position: fixed;
    height: 3rem;
    width: 100vw;
    background:slateblue;
}

.menu-hamburgesa{
    margin: 0;
    background: none;
    position: fixed;
}

.menu-hamburgesa #caja-boton{
    width: 3rem;
    height: 3rem;
}

.menu-hamburgesa #caja-boton img{
    height: 2rem;
    position: absolute;
    top: .5rem;
    left: .5rem;
}

.menu-hamburgesa input{
    display: none;
}

.menu-hamburgesa img:hover{
    cursor: pointer;
}

.menu-hamburgesa input:checked ~ #miMenu{
    display: none;
    transform: translateX(-(var(--ancho-menu)));
}

#miMenu{
    margin: 0;
    padding: 0;
    display: block;
    width: var(--ancho-menu);
    transition: transform 250ms ease-in-out;
}

#miMenu li{
    display: inline-block;
    width: var(--ancho-menu);
    height: 10vh;
    vertical-align: middle;
    text-align: center;
    background: lightgreen;
    line-height:10vh;
    font-size: 1.5rem;
    font-weight: bold;
}

#miMenu li a{
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: black;
}

#miMenu li a:hover{
    background: lightgrey;
}
