:root{
    --ancho-menu: 30rem;
}

header{
    position: fixed;
    height: 3rem;
    width: 100vw;
    background: rgb(5,5,5);
}

.menu-hamburgesa{
    margin: 0;
    background: none;
    position: fixed;
}

.menu-hamburgesa #caja-boton{
    width: 3rem;
    height: 3rem;
}

.menu-hamburgesa #caja-boton img{
    height: 2rem;
    position: absolute;
    top: .5rem;
    left: .5rem;
}

.menu-hamburgesa input{
    display: none;
}

.menu-hamburgesa img:hover{
    cursor: pointer;
}

.menu-hamburgesa input:checked ~ #miMenu{
    /* display: none; */
    transform: translateX(-30rem);
}

#miMenu{
    margin: 0;
    padding: 0 0 0 2rem;
    display: block;
    width: var(--ancho-menu);
    background: rgb(5,5,5);
    transition: transform 250ms ease-in-out;
}

#miMenu li{
    display: inline-block;
    margin: .5rem 0;
    width: 100%;
    height: 2rem;
    vertical-align: middle;
    /* text-align: center; */
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

#miMenu li a{
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: white;
}

#miMenu li a:hover{
    color: orange;
}
