.caja-reviews{
    display: flex;
    flex-wrap: wrap;
    column-gap: normal;
    justify-content: space-between;
    align-items: flex-start;
}

.review{
    border: 1px grey solid;
    margin: 1rem 0;
    padding: 1rem;
    width: 45%;
    border-radius: 1rem;
    box-shadow: 0 .5rem .5rem grey;
}

.review .usuario{
    display: inline-block;
}

.review .plataforma img{
    height: 1rem;
}

@media only screen and (max-width:1250px){
    .caja-reviews{
        
    }

    .review{
        width: 90%;
    }
}

/* .review .username{

}  */

/* .review .usuario img{
    height: 4rem;
    vertical-align: middle;
} */

.nota{
    float: right;
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bolder;
}

.verde{
    background-color: green;
    color:white;
}

.amarillo{
    background-color: yellow;
}