#main{
    margin-top: 6rem;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
}

input, textarea{
    margin-bottom: 1rem;
}

#input-tit-plat{
    display: flex;
    column-gap: 10%;
}

#input-titulo{
    width: 70%;
}

#input-titulo #titulo{
    width: 100%;
}

#cuerpo{
    width: 100%;
}

#nota{
    font-size: x-large;
    width: 3em;
}

#input-review form{
    display: none;
}

input#check-review:checked ~ #input-review form{
    display: block;
}

input#check-review:checked ~ .boton-review{
    display: none;
}

.boton-review{
    display: block;
    cursor: pointer;
    width: fit-content;
    padding: 1rem;
    background: linear-gradient(145deg, rgba(255,85,0,1) 0%, rgba(255,209,0,1) 50%, rgba(255,85,0,1) 100%); 
    background-size: 400% 400%;
    border-radius: 1rem;
}

@keyframes gradiente {
    100%{background-position: 100% 50%;}
}

.boton-review:hover{
    /* background: linear-gradient(-45deg, rgba(255,85,0,1) 0%, rgba(255,209,0,1) 100%); */
    animation: gradiente 1s ease 0s 1 forwards;
}

.caja-reviews{
    display: flex;
    flex-wrap: wrap;
    column-gap: normal;
    justify-content: space-between;
    align-items: flex-start;
}

.review{
    border: 1px grey solid;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem .5rem grey;
    /* max-height: 300px; */
}

.review-main{
    max-height: 200px;
    overflow: hidden;
}

#main .review p{
    margin: 0 0 0.3rem;
    padding: 0;
    width: 100%;
}

.review .usuario{
    display: inline-block;
}

.review .plataforma img{
    height: 1rem;
}

/* @media only screen and (max-width:1250px){
} */

.nota{
    float: right;
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bolder;
}

.flecha{
    width: 100%;
    cursor: pointer;
    display: block;
    transition: background-color .1s;
    box-shadow: 0 -1rem .5rem white;
}

.flecha:hover{
    background-color: lightgray;
}

.flecha img{
    position: relative;
    left: calc(50% - 24px);
}

input#next:checked ~ .flecha img{
    transform: rotate(180deg);
}

input#next:checked ~ .long{
    max-height: none;
}

.verde{
    background-color: green;
    color:white;
}

.amarillo{
    background-color: yellow;
}